@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

html, body{
	overflow: hidden !important;
	font-family: 'Lato', sans-serif;
	background: url(../img/bg.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
 	background-size: cover;
 	color: #fff;
 	text-shadow: 2px 2px 1px #000;
}

#hello-world{text-align: center;}
	#hello-world #hello-world-counter{
		width: 120px;
		height: 120px;
		margin: auto;
		
		background-color: #000;
		border-radius: 100%;
		color: #fff;
		
		text-align: center;
		
		font-size: 115px;
		line-height: 1em;
		font-weight: bold;
	}

/*
	#open-to-fullscreen{
		position: fixed;
		top: 15px;
		right: 15px;
		z-index: 999;

		width: 48px;
		height: 48px;

		cursor: pointer;
	
		opacity: 0.5;
		
		-webkit-transition: opacity .6s linear;
		transition: opacity .6s linear;
	}

	#open-to-fullscreen:hover{
		opacity: 1;
	}

	html:-moz-full-screen #open-to-fullscreen{display: none;}
	html:-webkit-full-screen #open-to-fullscreen{display: none;}
*/

#app-footer{
	position: fixed;
	bottom: 0px;
	z-index: 999;
	
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	
	text-align: center;
	font-weight: 900;
	font-size: 2em;
}

#fullpagejs{
	.slide{
		background-size: 100% 100%;
	}
}

#fullpagejs{}
	#fullpagejs .slide{text-align: center;}
		#fullpagejs .slide .inner{display: inline-block; margin-top: -113px;}

		#fullpagejs .slide article{float: left;}
			#fullpagejs .slide article img{width: 600px; border-style: solid; border-width: 10px; border-color: #ffffff; border-radius: 10px;}

		#fullpagejs .slide aside{margin-left: 50px; float: left; text-align: left;}
		#fullpagejs .slide aside img.company-logo{width: 640px; height: 500px;}
		#fullpagejs .slide .instagram-username{color: #fff; margin-top: 0px; font-weight: 900; font-size: 3.25em;}

